@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "acme";
  src: url("Acme-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family:"AllerDisplay";
	src: url("AllerDisplay.ttf") format("truetype");
	
}

h1,h2  {font-family: "acme";
	font-weight: bolder;
	text-transform: uppercase;
    color:#081705;
    text-align: center;      
    margin: auto;         
    width: 50%;
    font-size: 60px;
    margin-top: 25px;}

h2 {font-family:"AllerDisplay";
	ont-size: 35px;
    margin-top: 50px;
    margin-bottom: 25px;
    }

p {font-family:roboto;
   font-size: 25px;
   width: 70%;
   text-align: justify;
   margin: auto;
   background-color:#7CA48B}

h3 {font-family:"AllerDisplay"}

li {display:inline; 
	background-color:darkgreen;
			padding: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;}

.pozadina { background-image:url("istockphoto-1198380802-612x612.jpg")
	
}














